## 1. Ask user to enter age, sex (M or F), marital status (Y or N) and then using following rules print their place of service.
* if employee is female, then she will work only in urban areas.
* if employee is a male and age is in between 20 to 40 then he may work in anywhere
* if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
* And any other input of age should print "ERROR".

In [ ]:
age = int(input("Enter Your Age: "))
gen = input("Enter Your Gender(M/F): ")
status = input("Martial Status(Y/N): ")
if(gen == 'F'):
    print("You will work only in Urban Areas.")
elif(gen == 'M' and age>=20 and age<=40):
    print("You can work anywhere.")
elif(gen == 'M' and age>40 and age<=60):
    print("You will work in urban areas only.")
else:
    print("ERROR")

## 2. Create a dictionary and store student names and create nested dictionary to store the subject wise marks of every student. Print the marks of a given student from that dictionary for every subject.

In [ ]:
stud = {"Leon":{"Sci: ": 23,"Maths: ": 53,"Eng: ":52, "Hindi: ":13 },"Markesh":{"Sci: ":57,"Maths: ":79 ,"Eng: ":64 ,"Hindi: ":32 }, "Alderson":{"Sci: ": 99,"Maths: ":90 ,"Eng: ":80 ,"Hindi: ":97  }, "Luke":{"Sci: ":79 ,"Maths: ":88, "Eng: ":67 ,"Hindi: ":48  }, "Harley":{"Sci: ":91,"Maths: ":60 ,"Eng: ":64 ,"Hindi: ":82}}
print("Alderson's Result: ",stud["Alderson"])

## 3. Create a user defined dictionary and get keys corresponding to the value using for loop.

In [ ]:
s = int(input("Enter no. of items to be added in dictionary: "))
dict1 = {}
for i in range(0,s):
    key_ip = input("Enter Key: ")
    value_ip = input("Enter corresponding value: ")
    dict1[key_ip] = value_ip
print(dict1)

## 4. From a list containing ints, floats and string, make three lists to store them seperately.

In [ ]:
l1 = []
l2 = []
l3 = []

list1 = [45,'invisible','archer',6.2,10.0,24,'book']

for i in list1:
    if(str(type(i)) == "<class 'int'>"):
        l1.append(i)
    elif(str(type(i)) == "<class 'str'>"):
        l2.append(i)
    elif(str(type(i)) == "<class 'float'>"):
        l3.append(i)
print("Integer List: ",l1)
print("String List: ",l2)
print("Float List: ",l3)

## 5. Take inputs from user to make a list. Again, take one input from user and search it in the list and delete that element, if found. Iterate over list using for loop.

In [1]:
s = int(input("Enter List Size: "))
l1 =[]
for i in range(0,s):
    data = input("Enter List Data: ")
    if(data.isdigit()):
        data = int(data)
    elif("." in data):
        data = float(data)
    l1.append(data)
search = input("Enter element to search for: ")
if(search.isdigit()):
    search = int(search)
elif("." in search):
    search = float(search)
temp = len(l1)
if search in l1:
    l1.remove(search)   
print(l1)

Enter List Size: 3
Enter List Data: 12
Enter List Data: 23
Enter List Data: 12
Enter element to search for: 12
[23, 12]

### 6. Using loop print the following pattern:
          *
         ***
        *****
       *******
      *********

In [ ]:
n=6
for i in range(0,n):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(i,0,-1):
        print("*",end="")
    for j in range(2,i+1):
        print("*",end="")
    print()

# 7. Using loop print the following pattern:
```
*
**
***
****
*****
******
*******
******
*****
****
***
**
*
```

In [ ]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*",end="")
    print('\r')
for i in range(7,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print('\r')

## 8. Print multiplication table of 14 from a list in which multiplication table of 12 is stored.

In [ ]:
l12 = []
for i in range(1,11):
    l12.append(12*i)
l14 = []
for i in range(1,11):
    l14.append((l12[i-1]+2*i))
print(l14)